@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply w-full p-2 border rounded-md;
  }
}
@font-face {
  font-family: "JalnanGothic";
  src: url("font/JalnanGothicTTF.ttf") format("truetype");
}

/* body {
  font-family: "JalnanGothic";
} */

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


h1,
h2,
h3 {
  font-family: "JalnanGothic";
}

option,
select,
textarea,
input {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 1px solid black;
  padding: 0.5em 1em 0.5em 1em;
  width: 8rem;
}

textarea{
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.375rem;
  height: 6.25rem;
  resize: none;
}

.hover-pointer {
  cursor: pointer;
}

.white-title{
  font-weight: 1000;
  font-size: 1.5rem;
  line-height: 2rem;
  color:white;
}

.black-title{
  font-weight: 1000;
  font-size: 1.5rem;
  line-height: 2rem;
  color:black;
}

.saveBtn{
  border:none;
  background-color: #f77f00;
  border-radius: 15em;
  color:white;
  font-weight: 1000;
  transition: background-color 0.1s;
}

.saveBtn:hover{
  background-color: #f3a30f;
}

.cancelBtn{
  border:none;
  background-color: #3d3d3d;
  border-radius: 15em;
  color:white;
  font-weight: 1000;
  transition: background-color 0.1s;
}

.cancelBtn:hover{
  background-color: black;
}


.saveBtn-outline-green{
  border:2px solid #8ac926;
  border-radius: 15em;
  color:#8ac926;
  background-color: white;
  font-weight: 700;
}

.saveBtn-outline-orange{
  border:2px solid #f77f00;
  border-radius: 15em;
  color:#f77f00;
  background-color: white;
  font-weight: 700;
}

.saveBtn-outline-orange:hover{
  border:2px solid #f3a30f;
  color: #f3a30f;
}

.greenBtn{
  border:none;
  background-color: #38c54b;
  border-radius: 15em;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
}

.greenBtn:hover{
  background-color: #61df72;
}



.roundRreenBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  background-color: #38c54b;
  border-radius: 5rem;
  padding:0.5rem 1.5rem 0.5rem 1rem;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
  cursor: pointer;
}

.roundRreenBtn:hover{
  background-color: #61df72;
}

.grayBtn{
  border:none;
  background-color: #8b8a8a;
  border-radius: 15em;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
  cursor: pointer;
}

.deadBtn{
  border:none;
  background-color: #d1d1d1;
  border-radius: 15em;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
  cursor: pointer;
}

.grayBtn:hover{
  background-color: #3d3d3d;
}

.grayBtn-noHover{
  border:none;
  background-color: #d1d1d1;
  border-radius: 15em;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
}

.darkgrayBtn{
  border:none;
  background-color: #1b1b1b;
  border-radius: 15em;
  color:white;
  font-weight: 700;
  transition: background-color 0.1s;
  cursor: pointer;
}

.darkgrayBtn:hover{
  background-color: #5a5a5a;
}

.btn-outline-gray{
  border:2px solid #c1c1c1;
  border-radius: 0.8em;
  padding: 0;
  color:#c1c1c1;
  background-color: white;
  font-weight: 700;
  transition: 0.2s;
}

.btn-outline-gray:hover{
  border:2px solid #1b1b1b;
  color: #1b1b1b;
}


.defaultOuterContainer{
  max-width: 2048px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.defaultInnerContainer{
  max-width: 1024px;
  min-height: 500px;
  width: 100%;
  min-width: 320px;
  border-radius: 2rem;
  padding: 2rem 0rem 2rem 0rem;
  background-color: white;
}

.fridge-container{
  max-width: 500px;
  min-height: 500px;
  width: 100%;
  min-width: 320px;
  border-radius: 2rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  border: #cdd9db 0.3rem solid;
  background-color: #f8f8f8;
}

.direction-right{
  direction: rtl;
}


.fridge{
  width: 100%;
  min-height: 100%;
  padding: 2rem 0rem 2rem 0rem;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* 칸 자동 조정 */
  row-gap:3rem;
}

.fridge-item::after {
  content: "";
  position: absolute;
  bottom: -10px; /* 아이템의 하단에 위치 */
  left: 0;
  right: 0; /* 전체 너비를 사용 */
  height:0.3rem; /* 선의 두께 */
  background-color: #cdd9db; /* 선의 색상 */
  z-index: 1; /* 다른 요소 위에 오도록 설정 */
}



.fridge-item {
  aspect-ratio: 1; /* 정사각형 유지 */
  width: 100%; /* 가로 폭을 100%로 설정하여 부모에 맞춤 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.defaultInnerContainer-noPTop{
  max-width: 1024px;
  min-height: 500px;
  width: 95%;
  min-width: 320px;
  border-radius: 2rem;
  padding: 0rem 0rem 2rem 0rem; 
  margin: 0.5rem;
  background-color: white;
}

.defaultTitleContainer{
  max-width: 1024px;
  width: 95%;
  text-align: start;
  margin:1rem;
  margin-top: 2rem;
}

.menuTitle{
  font-size: 1.5rem;
}


@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in{
  animation: fade-in 0.5s ease-in-out;
}

.swal2-container {
  z-index: 100000;
}

.img-wrapper-round{
  position: relative;
  border-radius: 20%;
  overflow: hidden;
}

.img-wrapper-round img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.img-wrapper-square{
  position: relative;
  overflow: hidden;
}

.inner-img{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.left-line {
  border-left: 2px solid #e1e1e1;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #e1e1e1;
  margin-left: 5px;
  margin-right: 5px;
}

.top-line{
  border-top: 2px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #e1e1e1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.top-line-noM{
  border-top: 2px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #e1e1e1;
}

.bottom-line{
  border-bottom: 2px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #e1e1e1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bottom-line-noM{
  border-bottom: 2px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #e1e1e1;
}

/* 크롬, 사파리, 오페라, 엣지 스크롤 제거 */
.scroll::-webkit-scrollbar {
  display: none;
}


.closeBtnParent{
  position: absolute;
  right: 0;
  top:-10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 35px;
  width: 35px;
}

.right-top-xboxBtn{
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -0.75rem;
  right: 0.25rem ;
  z-index: 50;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}



.flex-center-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-col-3-to-4{
  grid-column: span 3 / span 3
}

@media (max-width: 360px) {
  .media-col-3-to-4{
    grid-column: span 4 / span 4
  }
}


.media-gridcol-3-to-2{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 500px){
  .media-gridcol-3-to-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.MuiPagination-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.MuiPagination-ul li {
  width: 2rem;
}


.MuiPagination-ul button {
  width: 2rem;
}


.no-scroll{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar{
  display:none;
}

.flex-wrap-when-600{
  flex-wrap: nowrap;
}

.text-center-when-600{
  text-align: start;
}

@media (max-width: 600px){
  .flex-wrap-when-600{
    flex-wrap: wrap;
  }

  .text-center-when-600{
    text-align: center;
  }
}

.ice-shadow-inner {
  --tw-shadow: inset 0 8px 16px 0 rgba(135, 206, 250, 0.3);
  --tw-shadow-colored: inset 0 8px 16px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}