@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply w-full p-2 border rounded-md;
  }
}
@font-face {
  font-family: "JalnanGothic";
  src: url("font/JalnanGothicTTF.ttf") format("truetype");
}

body {
  font-family: "JalnanGothic";
}

option,
select,
textarea,
input {
  font-family: Arial, Helvetica, sans-serif;
}
