@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply w-full p-2 border rounded-md;
  }
}
@font-face {
  font-family: "JalnanGothic";
  src: url("font/JalnanGothicTTF.ttf") format("truetype");
}

/* body {
  font-family: "JalnanGothic";
} */

h1,
h2,
h3 {
  font-family: "JalnanGothic";
}

option,
select,
textarea,
input {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 1px solid black;
  padding: 0.5em 1em 0.5em 1em;
  width: 8rem;
}
